appnope==0.1.0
attrs==18.2.0
backports-abc==0.5
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.6.3
bleach==3.0.2
bs4==0.0.1
cachetools==3.0.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
click-plugins==1.0.4
cligj==0.5.0
configparser==3.5.0
cycler==0.10.0
decorator==4.3.0
defusedxml==0.5.0
dill==0.2.8.2
entrypoints==0.2.3
enum34==1.1.6
Fiona==1.8.4
functools32==3.2.3.post2
future==0.16.0
futures==3.2.0
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.17.0
geopandas==0.4.0
google-auth==1.6.1
google-gax==0.16.0
googleapis-common-protos==1.5.5
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.17.1
httplib2==0.12.0
idna==2.8
ipaddress==1.0.22
ipykernel==4.10.0
ipyleaflet==0.9.1
ipython==5.8.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jws==0.1.3
kiwisolver==1.0.1
lxml==4.2.5
mailchimp3==3.0.6
MarkupSafe==1.1.0
matplotlib==2.2.3
mistune==0.8.4
munch==2.3.2
numpy==1.15.4
oauth2client==3.0.0
pandas==0.23.4
pandocfilters==1.4.2
pathlib2==2.3.3
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
ply==3.8
prometheus-client==0.5.0
prompt-toolkit==1.0.15
protobuf==3.6.1
ptyprocess==0.6.0
pyasn1==0.4.4
pyasn1-modules==0.2.2
pycryptodome==3.4.3
Pygments==2.3.0
pyparsing==2.3.0
pyproj==1.9.5.1
Pyrebase==3.0.27
python-dateutil==2.7.5
python-jwt==2.0.1
pytz==2018.7
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.11.1
requests-toolbelt==0.7.0
rsa==4.0
scandir==1.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.12.0
subprocess32==3.5.3
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
traittypes==0.2.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
xarray==0.10.7
APScheduler==3.0.0
dateparser
